<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hencoder.hencoderpracticelayout1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.example.testaidl.aidl.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <!-- 声明权限 -->
    <uses-permission android:name="com.example.testaidl.aidl.permission.ACCESS_BOOK_SERVICE" />

    <application
        android:name="com.example.test_webview_demo.APPAplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.recycleview.HomeActicity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RulerActivity" />
        <!-- <activity android:name="com.example.recycleview.HomeActicity"/> -->
        <activity android:name="com.satellite.activity.ReflectResActivity" />

        <!-- <activity -->
        <!-- android:name="com.example.test_webview_demo.MainActivity" -->
        <!-- android:configChanges="orientation|screenSize|keyboardHidden" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.example.test_webview_demo.FullScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.example.test_webview_demo.FilechooserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.example.test_webview_demo.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"></activity>

        <service
            android:name="com.example.messager.service.MessengerService"
            android:process=":remote" />
        <service
            android:name="com.example.testaidl.service.BookManagerService"
            android:process=":remote2" />
        <service
            android:name="com.example.binderpool.service.BinderPoolService"
            android:process=":remote3" />

        <activity android:name="com.example.remoteviews.RemoteViewActivity"></activity>
    </application>

</manifest>